---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";
import { buttonVariants } from "./ui/button";

type Props = Omit<HTMLAttributes<"a">, "href">;
const { class: className, ...props } = Astro.props;
---

<a href="/#contact" class={cn(buttonVariants({ className }))} {...props}>
  <slot>Contact Me</slot>
</a>
